*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.awesome__about {
    max-width: calc(1170px + 15px * 2);
    padding: 100px 0 0 15px;
    margin: 0 auto;
}

.awesome__title {
    margin: 0 auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.line {
    width: 170px;
    border: 1px solid #EC7979;
    margin: 54px auto 0;

}

.awesome__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    color: #86878B; 
    margin: 32px 0;
}

.awesome__section {
    width: 370px;
    height: 375px;
    margin: 0 10px 0 0;
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    
}

.awesome__about--icon {
    text-align: center;
    display: flex;
    align-self: center;
    margin: 0 auto;

}

.benefits__title {
    font-family: Open Sans;
    text-align: center;
    margin: 0 0 8px 0;
}

.awesome__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width:1024px) {
    .awesome__about {
        max-width: calc(1024px + 15px * 2);
    }
    .awesome__title {
        font-size: 24px;
    line-height: 28px;

    }
    .awesome__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    .awesome__section > img {
        width: 79px;
        height: 79px;
    }
    .awesome__section {
        width: 317px;
    }
    .benefits__title {
        font-size: 18px;
        line-height: 25px;
    }
    .awesome__text {
        font-size: 14px;
        line-height: 16px;
    }

}