* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.baner__box {
    max-width: calc(1170px + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.baner {
    padding: 104px 0 50px;
    background-image: url(../img/baner/image.png);
    background-position: top center;
    background-size: cover;
    position: relative;
 
    
   
}
.baner::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

   
}
.baner__info {
    
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
}

.baner__logo {
    width: 270px;
    height: 100px;
}
.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.line {
    width: 170px;
    border: 1px solid #FFFFFF;
    margin: 55px 530px 42px 0px;
}

.baner__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.baner__btn {
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 42px 0px 85px 0;

}

.baner__form {
    width: 470px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 15;
 
}


.baner__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.red__word {
    color: #EC7979;
}



.baner__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.form__user {
    width: 370px;
    height: 38px;
    margin: 45px 50px 33px 50px;
    border: none;
    border-bottom: 1px solid #BDBDBD;

}
.form__btn {
    width: 100%;
    height: 60px;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin: 75px 0 0 0;
}

.form__user::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.footer {
    background-color: #000000;
    padding: 40px 0 27px;
    width: 100%;
}



.footer__icon {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list {
    width: 570px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 32px 170px 27px 170px;
    
}

@media (max-width: 1024px) {
    .baner__box { 
        max-width: calc(1024px + 15px * 2);
    }
    .title {
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    }
    .line {
        width: 115px;
        border: 1px solid #FFFFFF;
        margin: 40px 375px 30px 0px;
    }
    .baner__description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .baner__btn {
        width: 183px;
        height: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 31px 0px 110px 0;
    }
    .baner__form {
        width: 398px;
        height: 100%;
    }
    .baner__title {
        font-size: 18px;
        line-height: 25px;
    }
    .form__user {
        width: 298px;
        height: 35px;
        margin: 45px 50px 33px 50px;
        border: none;
        border-bottom: 1px solid #BDBDBD;
    
    }

}