* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.design {
    padding: 104px 0 50px;
    background-image: url("../img/design/image.png");
    background-position: top center;
    background-size: cover;
    position: relative;
    height: 100%;

    
}

.design::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.desing__content {
    max-width: calc(1170px + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.desing__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    
    
    
}

.line {
    width: 170px;
    border: 1px solid #FFFFFF;
    margin: 54px auto 0;
}

.design__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin: 32px auto 0;
}

.design__btn {
    width: 370px;
    height: 60px;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 73px auto;

    
}
