* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 570px;
    margin: 0 170px 0 ;
}

.nav__list {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav__list li {
    display: inline-block;
}

.navigation__logo {
    margin: 0 0 0 115px;
}
.nav__list a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .container {
        margin: 0 20px 0 0;

    }

    .navigation__logo {
        margin: 21px 180px 21px 110px;
        display: flex;
    }
    
}
