* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social {
    height: 100%;
    background-color: #F8EFEF;
}
.social__adout {
    max-width: calc(1170px + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.social__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    padding-bottom: 18px;
    padding-top: 3px;
}
.social__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    display: inline-block;
    padding-bottom: 18px;
}
.social__icons {
    width: 565px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width:1024px) {
    .social__title {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 13px;
    }
    .social__text {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 13px;
    }
    .social__icons > svg {
        width: 41px;
        height: 40px;
        

    }
}