* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.tabs {
    max-width: calc(1170px + 15px * 2);
    padding: 90px 15px 0 15px;
    margin: 10px auto;
}
.tabs__menu--btn--active {
    width: 203px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: 0;
    color: #333333;
    background-color: transparent;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}
.tabs__menu--btn {
    width: 184px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #C6CBCD;
}
.empty {
    width: calc(100% - 203px - 184px*2);
    height: 40px;
    border: none;
    border-bottom:1px solid #C6CBCD;
    vertical-align: bottom;
}
.tabs__menu {
    list-style: none;
    font-size: 0;
}
.tabs__menu > li {
    display: inline-block;
}
.tabs__tittle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    text-align: start;
 
}
.tabs__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: start;
    padding: 40px 0 27px;
    
}
.tabs__download {
    width: 270px;
    height: 58px;
    border: none;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin: 0 330px 0 0;
}
.tabs__info {
    border: 1px solid #C6CBCD;
    border-top: none;
    text-align: end;
    display: flex;
}
.tabs__about {
  padding: 60px 30px 54px 100px;
}
.tabs__about__tittle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

@media (max-width:1024px) {
    .tabs {
        max-width: calc(1024px + 15px * 2);
        padding: 50px 15px 0 15px;
        margin: 10px auto;
    }
    .tabs__menu--btn--active {
        width: 170px;
        height: 30px;
        font-size: 14px;
        line-height: 19px;
    }
    .tabs__menu--btn {
        width: 156px;
        height: 30px;
    }
    .tabs__about {
        padding: 30px 30px 54px 40px;
        
        
    }
    .tabs__image {
        width: 398px;
        height: 385px;
    }
    .tabs__download {
        width: 231px;
        height: 58px;
        margin: 0 300px 50px 0;
    }
    .tabs__text {
        margin: 0 26px 0 0 ;   
     }
     .tabs__info {
         justify-content: space-between;
         height: 386px;
     }

}